body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f9f9f9;
    color: #333;

    width: 600px;
    border-style: solid;
    border-width: 2px;
    border-color: #333;
    padding: 20px;
    margin: 15px;
    box-sizing: border-box;
    border-radius: 5px;
}

header {
    background-color: #24292f;
    color: #fff;
    box-sizing: border-box;
    line-height: 1;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
}

main {
    border-style: solid;
    border-width: 2px;
    border-color: #333;
    border-radius: 5px;
    margin-top: 20px;
    padding: 20px;
}